#Always
build
.vscode
.idea
node_modules
LOGS/


#Hello legend
DEVELOPMENT/useful.txt

#Images collection for docs
images/RELEASES
images/SYMBIOTES
images/SITES


#Databases
M
CHAINDATA
!GENESIS/README.md
SNAPSHOTS/



#Workflow
tr.js
RELEASES
SERVICES
DOCS
DEVELOPMENT
CIIPs
*.exe
*.pdb
*.wasm
*.key
*.pem
*.dll
*.so
*.h


#Configs
CONFIGS/symbiotes*
KEYSTORE/
decrypted.json



#The Hell
KLY_Tests/test_evm*
KLY_Tests/send_tx.js
KLY_Tests/hostchains/monitors/evm.js
KLY_Tests/hostchains/contracts/*.js
KLY_Tests/hostchains/connectors/
KLY_Tests/hostchains/tokens/


#AntiVenom testnet data
ANTIVENOM/