# Always
build
.vscode
.idea
node_modules
dist


#Debug
.pnpm-debug.log



# Common extensions
*.exe
*.pdb
*.wasm
*.key
*.pem
*.dll
*.so
*.h



# Separate files
decrypted.json
tr.js



# Testnet data
TESTNET_*
GCP_TESTNET