#Always
build
.vscode
.idea
node_modules
dynconfigs.txt
LOGS/


#Hello legend
useful.txt

#Images collection for docs
images/RELEASES
images/SYMBIOTES
images/SITES


#Databases
M
C
!GENESIS/README.md
SNAPSHOTS/



#Workflow
tr.js
RELEASES
SERVICES
DOCS
my_readme.md
CIIPs
globalvars.txt
customRuntime.txt

#Configs
configs/chains*


#The Hell
KLY_Tests/test_evm*
KLY_Tests/send_tx.js
KLY_Tests/hostchains/monitors/evm.js
KLY_Tests/hostchains/evm_contracts/*interact*
KLY_Tests/hostchains/connectors/
KLY_Tests/hostchains/tokens/